.header{
    width: 100vw;
    margin: 0;
    padding: 0;
}

.sac{
    width: 100vw;
    margin: 0;
    padding: 0.3rem;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(167, 14, 14);
    list-style: none;
}

.sac li{
    margin: 0 1rem;
}

.navbar{
    display: flex;
    flex-direction: row;
    padding: 1.5rem 3rem;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(10, 10, 10);
}


.logo img{
    width: 12rem;
}

.input{
    justify-self: center;
}

.input input{
    width: 50vw;
    height: 2.6rem;
    border-radius: 0.5rem;
    font-size: 18px;
}

.login{
    justify-self: flex-start;
    color: rgb(44, 41, 41);
}

.login img{
    width: 2.7rem;
    margin-left: 1.3rem;
}