.header{
    width: 100vw;
    margin: 0;
    padding: 2rem;
}

.sac{
    width: 100vw;
    margin: 0;
    padding: 0.3rem;
    display: flex;
    font-size: 13px;
    justify-content: center;
    background-color: rgb(167, 14, 14);
    list-style: none;

    li{
        margin: 0 1rem;
    }
}

.navbar{
    display: grid;
    grid-template-columns: 50vw 30vw 20vw;
    grid-template-rows: 50% 50%;
    row-gap: 10px;
    padding: 1.5rem 3rem;
    //justify-content: center;
    align-items: center;
    background-color: rgb(10, 10, 10);

    //--------------------------
    .logo{
        grid-column-start: 0;
        justify-content: center;
        img {
            width: 12rem;
        }
    }
    //--------------------------

    .user{
        display: flex;
        justify-content: space-around;
        align-items: center;

    .login{
        grid-column-start: 2;
        //justify-self: end;
        color: rgb(44, 41, 41);
        
        
        img{
            width: 2rem;
            margin-left: 1.3rem;
        }
    }

    .cart{
        display: flex;
        grid-column-start: 3;
        justify-content: start;
    
        .icon{
            width: 2rem;
        }

        p{
            font-size: 13px;
            position: relative;
            bottom: 10px;
            right: 1.3rem;
        }
     }
    }
    //-----------------------------

    .search{
        display: flex;
        justify-content: start;
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 3;

        input{
            width: 70vw;
            border-style: none;
        }

        .searchIcon{
            background-color: rgb(236, 228, 228);
            padding: 0.2rem;
            border-left-style: none;

            img{
                width: 1.5rem;
            }
        }
        

    }

}